.button {
  background-color: var(--btn-primary);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buttonSize0 {
  width: 100px;
  height: 30px;
  font-size: var(--fs-300);
}

.buttonSize1 {
  width: 150px;
  height: 40px;
  font-size: var(--fs-400);
}

.buttonSize2 {
  width: 200px;
  height: 50px;
  font-size: var(--fs-500);
}

.buttonSize3 {
  width: 250px;
  height: 60px;
  font-size: var(--fs-600);
}

.buttonSize4 {
  width: 300px;
  height: 70px;
  font-size: var(--fs-700);
}

.buttonShape0 {
  border-radius: 4px;
}

.buttonShape1 {
  border-radius: 16px;
}
